<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- message block: -->
<%- messages() %>

<p>You're logged in, <%= locals.accountData.account_firstname %>. Welcome back!</p>
