<header id="top-header" class="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page" class="home-link">New Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login" class="account-link"
      >My Account</a
    >
  </div>
</header>
