<header id="top-header" class="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page" class="home-link">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
    <a
      title="Account Management"
      href="/account/"
      class="welcome-link"
      id="welcomeLink"
      >Welcome <%= locals.accountData.account_firstname %></a
    >
    <a
      title="Click to log out"
      href="/account/logout"
      class="logout-link"
      id="logoutLink"
      >Logout</a
    >
    <% } else { %>
    <a
      title="Click to log in"
      href="/account/login"
      class="account-link"
      id="accountLink"
      >My Account</a
    >
    <% } %>
  </div>
</header>
