<header id="top-header" class="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page" class="home-link">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login" class="account-link"
      >My Account</a
    >
    <a title="Account Management" href="/account/" class="welcome-link">Welcome</a>
    <a title="Click to log out" href="/" class="logout-link">Logout</a>

  </div>
</header>

<script src="../../js/account-status.js"></script>
