<body>
  <h1>Welcome to CSE Motors!</h1>

  <hero>
    <img src="../public/images/vehicles/delorean-tn.jpg" alt="Delorean car" />
    <aside>DMC Delorean
      <ul class="extra-info-ul">
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <div>Own Today</div>
    </aside>
  </hero>

  <section class="review-section">
    <h2>DMC Delorean Reviews</h2>
    <ul class="reviews">
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>

  <section class="upgrade-section">
    <h2>Delorean Upgrades</h2>
    <div>
      <img
        src="../public/images/upgrades/flux-cap.png"
        alt="flux capacitor" /><a href="" target="blank">Flux Capacitor</a>
    </div>
    <div>
      <img src="../public/images/upgrades/flame.jpg" alt="flame decals" /><a
        href=""
        target="blank"
        >Flame Decals</a
      >
    </div>
    <div>
      <img
        src="../public/images/upgrades/bumper_sticker.jpg"
        alt="bumper stickers" /><a href="" target="blank">Bumper Stickers</a>
    </div>
    <div>
      <img src="../public/images/upgrades/hub-cap.jpg" alt="hub caps" /><a
        href=""
        target="blank"
        >Hub Caps</a
      >
    </div>
  </section>
</body>
