:root {
  /* fonts */
  --heading-font: "Geologica", Arial, sans-serif;
  --paragraph-font: "Lora", Georgia, serif;
  /* colors: */
  --primary: black;
  --secondary: white;
  --accent: 79, 173, 207;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--heading-font);
}
.home-link,
.account-link {
  text-decoration: none;
  color: var(--primary);
}
.home-link:visited,
.account-link:visited {
  color: var(--primary);
}
.home-link {
  font-size: 1.5em;
  font-weight: bold;
}

nav {
  background-color: var(--primary);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--heading-font);
  list-style: none;
  padding: 10px;
}

nav ul li a {
  color: var(--secondary);
  text-decoration: none;
}
nav ul li a:visited {
  color: var(--secondary);
}

nav ul li a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.extra-info-ul {
  list-style: none;
  padding-left: 0;
  font-weight: bold;
}
.hero {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.car-img {
  position: relative;
  z-index: 0;
}
.info-box {
  background-color: rgba(var(--accent), 0.5);
  padding: 10px;
  margin-right: -40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-button {
  margin: auto;
  background-color: var(--primary);
  text-align: center;
  padding: 5px;
  width: 80%;
}
.info-button a {
  color: var(--secondary);
  text-decoration: none;
}

.reviews {
  line-height: 2em;
}

/* upgrade grid section */
.upgrade-section-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}

.upgrade-section-div h2 {
  grid-column: 1/3;

}

.upgrade-img-div {
  background-color: rgba(var(--accent));
  width: 100%;
  height: 90px;
  position: relative;
  border: 2px solid var(--primary);
}
.upgrade-img-div img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upgrade-div {
  text-align: center;
  padding-bottom: 10px;
}

/* individual car page */
.boldme {
  font-weight: bold;
}
.details ul li {
  list-style: none;
  padding: 1em;
}
.details ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.details h2 {
  text-align: center;
}
.details {
  border: 2px solid rgba(var(--accent));
}
.info-wrapper {
  padding: 1em;
}

.individual-image {
  width: 100%;
  height: auto;
  max-width: 500px;
}

/* error message screens */
.error-image {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  max-width: 440px;
}
.error-message {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(var(--accent));
  text-align: center;
  padding: 1em;
  background-color: black;
}
.error-heading {
  text-align: center;
  font-size: 2em;
}

/* classification page flexbox */
.inv-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inv-display > * {
  padding: 2em;
  list-style: none;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  border-bottom: 3px solid rgba(var(--accent));
}

.inv-display img {
  display: block;
  margin: auto;
}
.inv-price {
  font-size: 1.3em;
}
.inv-link {
  font-size: 0.9em;
  font-family: var(--heading-font);
  color: black;
  text-decoration: none;
}
.inv-link:visited {
  color: black;
}

/* account forms */

.body-div{
  background-color: rgba(var(--accent));
  padding: 20px;
}
.account-form{
  background-color: rgba(var(--accent));
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
  font-family: var(--heading-font);
}

.account-form label{
  text-align: left;
  margin-top: 15px;
  padding: 0 15px;
  font-size: 1.2em;
  
}
.input{
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;

}

.form-button{
  padding: 10px;
  border-radius: 10px;
  max-width: 160px;
  display: block;
  margin: 20px auto;
  font-size: 1.2em;
}

.p-font{
  font-family: var(--paragraph-font);
  color: var(--primary);
}
.note{
  text-align: center;
  font-size: 1.2em;
}
.note a{
  color: black;
}
.note a:visited{
  color: black;
}
.password-rules{
  text-align: center;
  padding: 1em 2em;
}


input:required:invalid, input:focus:invalid {
background-color: rgba(255,0,0,0.2);
}
 input:required:valid {
background-color: rgba(var(--accent), 0.2);
 }

 /* management */
 .management-link{
  display: block;
  padding: 10px;
  font-size: 1.2em;
 }

 .management-link:hover{
  background-color: var(--primary);
  color: var(--secondary);
  max-width: 300px;
 }

/******* Change Box Model ***************/
/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

@media only screen and (min-width: 800px) {
  .wrapper {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  main,
  header,
  nav,
  footer {
    width: 80%;
    margin: auto;
    border: 4px solid rgba(var(--accent));
    background-color: var(--secondary);
    padding: 5px;
  }
  nav {
    background-color: var(--primary);
  }

  nav,
  main,
  header {
    border-bottom: none;
  }

  nav,
  footer,
  main {
    border-top: none;
  }

  nav ul li a {
    padding: 15px;
  }

  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reviews-n-upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .review-div {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1em;
  }
  .upgrade-section-div {
    padding: 1em;
  }

  /* classification page flexbox */
  .inv-display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .inv-display > * {
    width: 250px;
    height: 250px;
    border: 3px solid rgba(var(--accent));
    border-radius: 25px;
    margin: 1em;
  }
  /* grid on individual car page */
  .info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    place-items: center;
  }

  .body-div{
      border-radius: 10px;
      max-width: 70%;
      display: block;
      margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .inv-display {
    flex-direction: row;
  }

  .body-div{
    max-width: 50%;
  }
}
