<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- message block: -->
<%- messages() %>

<a href="/inv/add-classification" class="management-link p-font"
  >Add New Classification</a
>
<a href="/inv/add-inventory" class="management-link p-font">Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p  class="p-font">
  Select a classification from the list to see the items belonging to the
  classification.
</p>
    <div><%- classDropDown %></div>
<table id="inventoryDisplay" class="inv-table p-font"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
