<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- goBack %>

<!-- message block: -->
<%# messages() %>

<!-- inventory item display: -->
<%- upgradeInfoPage %>

